
body
{
    background-color: black;
}


.flex-container  /*flexbox to make artist img and music info be side by side*/
{
    display: flex;
}

.flex-child
{
    flex: 1;
    margin: auto;
}

.music_info
{
    text-align: center; /*so h2 and h3 elements are centered*/
    /*background-color: #7acdfa;*/
    background-size: contain;
    margin: auto;
    width: 540px;
    height: 540px;
    padding-top: 0px;
    position: relative;
}

.background_img
{
     background-size: contain;
     margin: auto;
     text-align: center;
     width: 540px;
     height: 540px;
     padding-top: 80px;
     position: relative;
}

.background_img:before
{
    content: ' ';
    background-image: url('https://previews.123rf.com/images/vanzyst/vanzyst1605/vanzyst160500055/56654679-graffiti-background-seamless-pattern-vector-tags-writing-graffiti-hand-style-old-school-king-of-styl.jpg');
    /*filter: invert(24%) sepia(84%) saturate(5554%) hue-rotate(315deg) brightness(101%) contrast(101%);*/  /*darker pink filter*/
    filter: invert(61%) sepia(72%) saturate(785%) hue-rotate(291deg) brightness(105%) contrast(101%); /*lighter pink filter*/
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.artist
{
    background-color: #12326D;
    background-size: contain;
    margin: auto;
    width: 540px;
    height: 540px;
    align-items: center; /*so img is centered*/
    padding-top: 80px;
    text-align: center;
}

h2
{
    color: #3A43F7;
    font-family: "Audiowide";
}

h3
{
    color: #8014ff;
    font-family: "Courgette";
}

img
{
    display: block; /*block so that the img and audio elements cant be next to each other, block-> whitespace above and below element w no elements side by side*/
    margin: auto;
    width: 300px;
    height: 300px;
      
}

audio
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: invert(72%) sepia(10%) saturate(2506%) hue-rotate(178deg) brightness(100%) contrast(103%);
}

@-webkit-keyframes "pulse" /*webkit so animation can run on a chrome browser*/
{
    0% 
    {
        -webkit-transform: scale(1.1);
    }
            
    50% 
    {
        -webkit-transform: scale(0.8);
    }
            
    100% 
    {
        -webkit-transform: scale(1);
    }
}

@keyframes "pulse" /*so other browsers can run the animation*/
{
    0% 
    {
        transform: scale(1.1);
    }
            
    50% 
    {
        transform: scale(0.8);
    }
            
    100% 
    {
        transform: scale(1);
    }
}

button
{
    background-color: #73B3BB;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    margin: auto;
    
}
