
body
{
    background-color: #6F76FF;
}


.flex-container  /*flexbox to make artist img and music info be side by side*/
{
    display: flex;
}

.flex-child
{
    flex: 1;
    margin: auto;
}

.music_info
{
    text-align: center; /*so h2 and h3 elements are centered*/
    background-color: #7acdfa;
    background-size: contain;
    margin: auto;
    width: 540px;
    height: 540px;
    padding-top: 80px;
}

.artist
{
    background-color: #12326D;
    background-size: contain;
    margin: auto;
    width: 540px;
    height: 540px;
    align-items: center; /*so img is centered*/
    padding-top: 80px;
    text-align: center;
}

h2
{
    color: #3A43F7;
}

h3
{
    color: #6a71ff;
}

img
{
    display: block; /*block so that the img and audio elements cant be next to each other, block-> whitespace above and below element w no elements side by side*/
    margin: auto;
    width: 300px;
    height: 300px;
      
}

audio
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@-webkit-keyframes "pulse" /*webkit so animation can run on a chrome browser*/
{
    0% 
    {
        -webkit-transform: scale(1.1);
    }
            
    50% 
    {
        -webkit-transform: scale(0.8);
    }
            
    100% 
    {
        -webkit-transform: scale(1);
    }
}

@keyframes "pulse" /*so other browsers can run the animation*/
{
    0% 
    {
        transform: scale(1.1);
    }
            
    50% 
    {
        transform: scale(0.8);
    }
            
    100% 
    {
        transform: scale(1);
    }
}

button
{
    background-color: #73B3BB;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    margin: auto;
    
}