<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} type="text/css"/>
    </head>
    <style>
        .round
        {
            border-radius: 50%; /*to make img round*/
            animation: pulse {{ beat_length }}s infinite;
        }
    </style>
    <body>
        <br>
        <br>
        <div class="flex-container">
            <div class="flex-child artist">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src={{ artist_img_src }} class="round" />
            </div>
            <div class="flex-child music_info">
                <h2>{{ song_title }}</h2>
                <h3>By {{ artist_name }}</h3>
                <img src={{ song_img_src }} /> <!--To make img appear, put a space between }} and /> -->
                <br>
                {% if p_url_exists == False %}
                    <h3>Song preview unavailable :(</h3> <!--Might find a dummy song/sound effect to put instead -->
                {% else %}
                    <audio controls>
                        <source src={{ preview_url }} type="audio/mp3">
                    </audio>
                {% endif %}
            </div>
        </div>
    </body>
</html>